<%= form_for @album, :html => { :multipart => true } do |f| %>

  <%= select_tag(:genre_id, options_for_select(@genres), :prompt => "Select a Genre") %>

  <div>
    <%= form.label :album_cover %>
    <%= form.file_field :album_cover %>
  </div>

  <div class="mb-4">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="mb-4">
    <%= f.label :artist %>
    <%= f.text_field :artist %>
  </div>

  <div class="mb-4">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <%= f.submit class: "my-4 bg-red-700 hover:bg-red-500 text-yellow-100 font-bold py-2 px-4 border border-red-700 rounded" %>
<% end %>