<% 
=begin %>
<div class="flex justify-center items-center  mt-2 mb-2">
  <%= form_for @album, :html => { :multipart => true } do |f| %>

    <%= select_tag(:genre_id, options_for_select(@genres), :prompt => "Select a Genre") %>

    <div>
      <%= f.label :album_cover %>
      <%= f.file_field :album_cover %>
    </div>

    <div class="mb-4">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div class="mb-4">
      <%= f.label :artist %>
      <%= f.text_field :artist %>
    </div>

    <div class="mb-4">
      <%= f.label :description %>
      <%= f.text_field :description %>
    </div>

    <%= f.submit class: "my-4 bg-red-700 hover:bg-red-500 text-yellow-100 font-bold py-2 px-4 border border-red-700 rounded" %>
  <% end %>
</div>

<% 
=end %>

<div class="flex justify-center mt-2 mb-2">
  <div class="bg-white border border-black rounded p-5">
    <%= form_for @album, :html => { :multipart => true } do |f| %>
      <div class="mb-4">
        <div>
          <%= f.label :album_cover %>
        </div>
        <div>
          <%= f.file_field :album_cover, class: "mt-1" %>
        </div>
      </div>

      <div class="mb-4">
        <div>
          <%= f.label :title %>
        </div>
        <div>
          <%= f.text_field :title , :size => "70", class: "p-1 mt-1 border-2 border-black rounded" %>
        </div>
      </div>

      <div class="mb-4">
        <div>
          <%= f.label :artist %>
        </div>
        <div>
          <%= f.text_field :artist , :size => "70", class: "p-1 mt-1 border-2 border-black rounded" %>
        </div>
      </div>

      <div class="mb-4">
        <div>
          <%= f.label :description %>
        </div>
        <div>
          <%= f.text_area :description, :size => "70", class: "p-1 mt-1 border-2 border-black rounded" %>
        </div>
        <div class="mt-4">
          <%= select_tag(:genre_id, options_for_select(@genres), :prompt => "Select a Genre") %>
        </div>
      </div>

      <%= f.submit class: "bg-black hover:bg-white hover:text-black border border-black cursor-pointer text-white font-bold py-2 px-4 rounded" %>
    <% end %>
  </div>
</div>