<h1 class="text-center font-bold mt-10 mb-10 text-xl">Edit Album</h1>

<div class="flex justify-center mt-2 mb-2">

  <div class="bg-white border border-black rounded p-5">

    <%= form_for @album, :html => { :multipart => true } do |f| %>

      <div class="flex justify-center">
        <% if @album.album_cover.attached? %>
          <%= image_tag @album.album_cover, class:"w-52" %>
        <% end %>
      </div>

      <div class="mb-4">
        <div>
          <%= f.label :album_cover %>
        </div>

        <div>
          <%= f.file_field :album_cover, class: "mt-1" %>
        </div>
      </div>

      <div class="mb-4">
        <div>
          <%= f.label :title %>
        </div>

        <div>
          <%= f.text_field :title, maxlength: 50, :size => "70", class: "p-1 mt-1 border-2 border-black rounded", :required => true %>
        </div>
      </div>

      <div class="mb-4">
        <div>
          <%= f.label :artist %>
        </div>

        <div>
          <%= f.text_field :artist, maxlength: 50, :size => "70", class: "p-1 mt-1 border-2 border-black rounded", :required => true %>
        </div>
      </div>

      <div class="mb-4">
        <div>
          <%= f.label :label %>
        </div>

        <div>
          <%= f.text_field :label, maxlength: 50, :size => "70", class: "p-1 mt-1 border-2 border-black rounded", :required => true %>
        </div>
      </div>

      <div class="mb-4">
        <div>
          <%= f.label :release_date %>
        </div>

        <div>
          <%= f.date_field :release_date , :size => "70", class: "p-1 mt-1 border-2 border-black rounded", :required => true %>
        </div>
      </div>

      <div class="mb-4">
        <div>
          <%= f.label :description %>
        </div>

        <div>
          <%= f.text_area :description, :size => "70", class: "p-1 mt-1 border-2 border-black rounded", :required => true %>
        </div>

        <div class="mt-4">
          <%= f.select :genre_id, @genres, :required => true %>
        </div>
      </div>

      <%= f.submit class: " bg-black hover:bg-white hover:text-black border border-black cursor-pointer text-white font-bold py-2 px-4 rounded" %>
      <%= link_to "Back", album_path(@album) %>
    <% end %>

  </div>
  
</div>