<h1 class="mb-4">Edit Album</h1>
<div class="flex justify-center items-center bg-red-400">
  <%= form_for @album, :html => { :multipart => true } do |f| %>

    <%= f.select :genre_id, @genres %>

    <div class="bg-green-500">
      <% if @album.album_cover.attached? %>
        <%= image_tag @album.album_cover, class:"w-60" %>
      <% end %>

      <%= f.label :album_cover %>
      <%= f.file_field :album_cover %>
    </div>

    <div class="mb-4">
      <div>
        <%= f.label :title %>
      </div>
      <div>
        <%= f.text_field :title %>
      </div>
    </div>

    <div class="mb-4">
      <div>
        <%= f.label :artist %>
      </div>
      <div>
        <%= f.text_field :artist %>
      </div>
    </div>

    <div class="mb-4">
      <div>
        <%= f.label :description %>
      </div>
      <div>
        <%= f.text_area :description %>
      </div>
    </div>

    <%= f.submit class: "my-4 bg-red-700 hover:bg-red-500 text-yellow-100 font-bold py-2 px-4 border border-red-700 rounded" %>
  <% end %>
</div>