<div class="flex justify-center bg-red-100">
  <div>
    <% if @album.album_cover.attached? %>
      <%= image_tag @album.album_cover, class: "w-96 h-96" %>
    <% end %>
  </div>
  
  <div class="bg-green-300 justify-center">
      <h2><%= @album.title %></h2>
      <h2><%= @album.artist %></h2>
      <h2><%= @album.genre.name %></h2>
  </div>
</div>

<p><%= @album.description %></p>

<%= link_to "Back", root_path %>

<% if user_signed_in? %>
  <% if @album.user_id == current_user.id %>
    <%= link_to "Edit", edit_album_path(@album) %>
    <%= link_to "Delete", album_path(@album), method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
<% end %>

<div>
  <h1>Reviews</h1>
  <%= link_to "Add Review", new_album_review_path(@album) %>

  <%= render @album.reviews %>

</div>
