<div class="flex justify-center bg-red-100 mt-10">
  <div>
    <% if @album.album_cover.attached? %>
      <%= image_tag @album.album_cover, class: "w-96" %>
    <% end %>
  </div>
  
  <div class="flex flex-col bg-green-300 justify-center items-center pl-10 pr-10">
      <h2 class="font-bold text-5xl"><%= @album.title %></h2>
      <h2 class="text-center text-xl"><%= @album.artist %></h2>
      <div class="average-review-rating flex mt-5" data-score="<%=@average_review %>"></div>
      <span class="text-center">(Based on <%=@album.reviews.count %> reviews)</span>
      <h2><%= @album.genre.name %></h2>
  </div>
</div>

<p><%= @album.description %></p>

<%= link_to "Back", root_path %>

<% if user_signed_in? %>
  <% if @album.user_id == current_user.id %>
    <%= link_to "Edit", edit_album_path(@album) %>
    <%= link_to "Delete", album_path(@album), method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
<% end %>

<div>
  <h1>Reviews</h1>
  <%= link_to "Add Review", new_album_review_path(@album) %>

  <%= render @album.reviews %>

</div>

<script>
  $('.review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>

<script>
	$('.average-review-rating').raty({
		readOnly: true,
		path: '/assets/',
		score: function() {
			return $(this).attr('data-score')
		}
	});
</script>