<div class="flex justify-center mt-2 mb-2">

  <div class="bg-white border border-black rounded p-5">

    <%= form_for ([@album, @album.reviews.build]) do |f| %>

      <div id="rating-form" class="mb-4 flex">
        <div class="mr-2">
          <%= f.label :rating %>
        </div>
      </div>

      <div class="mb-4">
        <div>
          <%= f.label :title %>
        </div>

        <div>
          <%= f.text_field :title, :size => "70", class: "rounded p-1 mt-1 border-2 border-black" %>
        </div>
      </div>

      <div class="mb-4">
        <div>
          <%= f.label :comment %>
        </div>

        <div>
          <%= f.text_area :comment, :size => "70", class: "rounded p-1 mt-1 border-2 border-black" %>
        </div>
      </div>

      <%= f.submit class: "my-4 bg-black hover:bg-white hover:text-black cursor-pointer text-white font-bold py-2 px-4 border border-black rounded" %>
      <%= link_to "Back", album_path(@album) %>
    <% end %>  

  </div>
  
</div>

<script>
  $('#rating-form').raty({
    path: '/assets/',
    scoreName: 'review[rating]'
  });
</script>