<div class="review-rating flex" data-score="<%= review.rating %>">
</div>
<p><%= review.title %></p>
<p><%= review.comment %></p>
<p><%= review.created_at.strftime("%b %-d") %></p>



<% if user_signed_in? %>
  <% if review.user_id == current_user.id %>
    <%= link_to "Edit", edit_album_review_path(review.album, review) %>
    <%= link_to "Delete", album_review_path(review.album, review), method: :delete, data: {
      confirm: "Are you sure?" } %>
  <% end %>
<% end %>
