<h1 class="mb-4">Edit Review</h1>

<%= form_for ([@album, @review]) do |f| %>

  <div class="mb-4">
    <%= f.label :rating %>
    <%= f.text_field :rating %>
  </div>

  <div class="mb-4">
    <%= f.label :comment %>
    <%= f.text_field :comment %>
  </div>

  <%= f.submit class: "my-4 bg-red-700 hover:bg-red-500 text-yellow-100 font-bold py-2 px-4 border border-red-700 rounded" %>
<% end %>