<nav class="navbar bg-gray-700 flex justify-between px-10 pt-5 pb-5">
  <div class="flex">
    <div class="font-bold text-white text-xl">
      <%= link_to "All The Music", root_path%>
    </div>

    <ul class="flex text-white">
      <li class="px-10"><%= link_to "Sign Up", new_user_registration_path%></li>
      <% if user_signed_in? %>
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Sign In", new_user_session_path %></li>
      <% end %>
    </ul>
  </div>



        <div class="flex flex-wrap text-white">
          <% Genre.all.each do |genre| %>
            <div class="pl-3 pr-3" <%= 'font-bold' if params[:genre] == genre.name %> ">
              <%= link_to genre.name, albums_path(genre: genre.name), class: "link" %>
            </div>
          <% end %>
        </div>

        <% if user_signed_in? %>
          <li><%= link_to "Add Album", new_album_path %></li>
        <% end %>


</nav>

